@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Primary Colors*/
  --color-primary-gradient-1: hsl(6, 100%, 80%);
  --color-primary-gradient-2: hsl(335, 100%, 65%);
  /* Neutral Colors*/
  --color-neutral-pale-blue: hsl(243, 100%, 93%);
  --color-neutral-grayish-blue: hsl(229, 7%, 55%);
  --color-neutral-dark-blue: hsl(228, 56%, 26%);
  --color-neutral-very-dark-blue: hsl(229, 57%, 11%);
  /* Font */
  --font-family: "Raleway", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: var(--color-neutral-very-dark-blue);
  display: grid;
  align-items: center;
  overflow-x: hidden;
  font-family: var(--font-family);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
picture {
  bottom: 0;
  position: fixed;
}
picture img {
  max-width: 100%;
  min-width: 100vw;
  height: 50vh;
}
.container {
  background-color: transparent;
  width: 46rem;
  height: 15vh;
  transform: translateY(-65%);
  margin: 0 auto;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2vw;
}
.column-one {
  background-color: var(--color-neutral-dark-blue);
  border-radius: 10px;
  border-top-right-radius: 90px;
  padding: 2.5rem;
  display: grid;
  gap: 5vh;
  max-width: 100%;
}
ul {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  width: 12rem;
  height: 2rem;
}
ul > li {
  background-color: var(--color-neutral-very-dark-blue);
  display: grid;
  padding: 1vw;
  align-self: end;
  border-radius: 10px;
  height: 100%;
  width: 3rem;
  justify-content: center;
}
ul > li > img {
  align-self: center;
}
ul > li:hover {
  background-color: hsl(229, 57%, 8%);
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.1s ease-in;
}
.column-two {
  background-color: var(--color-neutral-dark-blue);
  border-radius: 10px;
  height: 70%;
  padding: 2vw 3vw 3vw 3vw;
  align-self: end;
  display: grid;
}
.column-two > p {
  color: var(--color-neutral-pale-blue);
  width: 100%;
  font-size: 14px;
}
.loading-bar-container {
  height: 1rem;
  background-color: hsl(228, 56%, 18%);
  border-radius: 50px;
  margin: 2vh 0;
}
.loading-bar {
  position: relative;
  display: grid;
  width: 81.5%;
  height: 80%;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    var(--color-primary-gradient-1),
    var(--color-primary-gradient-2)
  );
  margin: 1px;
  animation: loading 1.5s linear infinite;
  animation-iteration-count: 1;
}
.loading-bar-head {
  align-self: center;
  position: absolute;
  right: 0;
  transform: translateX(calc(50% - 7.3px));
  width: 10px;
  height: 80%;
  border-radius: 50%;
  background-color: var(--color-neutral-pale-blue);
}
.min-max-storage {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-neutral-pale-blue);
}
#min-storage {
  align-self: start;
}
#max-storage {
  align-self: end;
  text-align: end;
}
#logo {
  width: 60%;
}
.left-storage {
  background-color: white;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 10rem;
  border-radius: 12px;
  justify-self: center;
}
#left-storage {
  width: fit-content;
  align-content: center;
  display: flex;
  gap: 10px;
  font-weight: var(--font-weight-bold);
}

#left-storage > sub {
  align-self: center;
  color: var(--color-neutral-grayish-blue);
  font-size: 12px;
}
#left-storage > strong {
  font-size: 30px;
}
/* loading bar animation */
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 81.5%;
  }
}
/* responsive for smaller screens */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 20rem;
    gap: 0.5rem;
    height: 21rem;
    transform: translateY(5%);
  }

  body {
    background: url(./images/bg-mobile.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
  }
  .column-one {
    gap: 1.5rem;
    padding: 2.3rem;
    height: 100%;
  }
  .column-two {
    height: 10rem;
    padding-bottom: 5rem;
    padding: 2rem;
  }
  #logo {
    width: 8rem;
  }
  .min-max-storage {
    align-content: center;
  }
  picture img {
    display: none;
  }
  ul {
    height: 3rem;
  }
  .left-storage {
    top: 40%;
  }
}
@media only screen and (min-height: 527px) {
  .container {
    transform: translateY(-20%);
  }
}
@media only screen and (min-width: 768px) {
  .left-storage {
    bottom: 8.5rem;
    left: 30%;
    align-self: end;
    width: 10rem;
    border-bottom-right-radius: 0px;
  }

  .left-storage::after {
    content: "";
    position: absolute;
    top: 85%;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid rgba(0, 0, 0, 0);
    border-right: 25px solid #fff;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 185;
  inherits: false;
}
#gb {
  animation: count 1.5s;
  counter-reset: num var(--num);
}
#gb::after {
  content: counter(num);
}
@keyframes count {
  0% {
    --num: 0;
  }
  100% {
    --num: 185;
  }
}
